<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="static/img/fav/fav.ico" type="image" />
  <link rel="apple-touch-icon" sizes="180x180" href="static/img/fav/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="static/img/fav/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="static/img/fav/favicon-16x16.png" />
  <link rel="stylesheet" href="static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="static/css/style.css" />
  <title>500. Хьюстон, у нас проблемы!</title>
</head>
<body>
<header class="pt-3">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="static/img/logo.svg" height="50" class="" alt="">
      </a>
      <div class="d-flex justify-content-end">
        <ul class="nav nav-pills">
          <li class="nav-item pe-5">
            <a class="nav-link" href="/add">
              Добавить мнение о фильме
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">
              Хочу другой фильм
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <section class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-7 my-5">
        <h1 class="mb-5">Хьюстон, у нас проблемы!</h1>
        <p>
          Возможно, на сервере произошёл сбой или проводятся кратковременные
          технические работы. Попробуйте обновить страницу сейчас или через пару
          минут.
        </p>
      </div>
      <div class="col-12 col-lg-5">
        <img class="img-fluid mx-auto d-block" src="static/img/500.png" alt="" />
      </div>
    </div>
  </section>
</main>
<footer class="fixed-bottom text-center py-3 bg-light">
  <p class="small">© Что посмотреть</p>
</footer>